/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

/* CSS dynamic filters button */
.box-filters {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 26px 0px;

  /*justify-content: center;*/
}

.btn-filters {
  font-family: "Syne";
  color: #1d6154;
  background-color: white;
  padding: 5px 12px;
  border-radius: 15px;
  border: solid 1px #1d6154;
}

.btn-filters:hover {
  color: white;
  background-color: #1d6154;
}

/* CSS login.html */

.loginBody {
  height: 100%;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.container {
  width: 100%;
}

.form-login {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.form-title {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
.container {
  display: flex;
  flex-direction: column;
}
.container input {
  height: 32px;
  border: none;
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.1));
}

input[name="email"] {
  margin-bottom: 22px;
}

.submit-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn-submit {
  font-family: "Syne";
  color: white;
  background-color: #1d6154;
  padding: 6px 30px;
  border-radius: 15px;
  border: none;
}

.forgot-pwd {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.forgot-pwd a {
  color: #1d6154;
}

/* Homepage Edit CSS */

.editDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5%;
  background-color: black;
  color: white;
  font-size: 12px;
}

.editDiv i {
  margin-right: 8px;
}

#portfolio h2 {
  /* position: relative;*/
}

.modal1 {
  display: inline-block;

  /* display: flex;
  flex-direction: column;
  position: relative; 
  left: 690px;
  bottom: 51px;*/
}

#penTwo {
  font-size: medium;
  color: #000;
}

.modal1 p {
  font-family: "Work Sans";
  text-decoration: none;
  color: #000;
  display: inline;
  padding-left: 10px;
}
/* CSS de la modal */
/* if not on open selector close dosnt work properly */
.modal[open] {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
}

.modal-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 820px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}
.modal-wrapper2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 820px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.js-close-modal {
  position: relative;
  bottom: 92px;
  left: 325px;
  background-color: #fff;
  border: none;
}

.js-close-modal i {
  font-size: larger;
}

.titleModal {
  position: relative;
  bottom: 80px;
}

#titleModal {
  font-family: "Work Sans";
  letter-spacing: 0.1em;
  font-weight: 100;
  color: #000;
}

.globalImgContainer {
  position: relative;
  bottom: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 560px;
  height: auto;
  gap: 15px;
}

.trashIcon {
  width: 100%;
}

.trashIcon i {
  position: relative;
  top: 28px;
  left: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  color: #fff;
  background-color: #000;
  width: 22px;
  height: 22px;
  border-radius: 3px;
}

/* 
.imgContainer .fa-trash-can {
  width: 20px;
  background-color: #000;
  color: #fff;
} */
.editImg {
  width: 100px;
}

.p-separation {
  margin-top: 25px;
  width: 100%;
}
.separation {
  width: 80%;
}

#addBtn {
  position: relative;
  top: 30px;
  font-family: "Syne";
  color: #fff;
  background-color: #1d6154;
  border: none;
  padding: 12px 62px;
  border-radius: 20px;
}

/* CSS modal number 2 */

.js-return {
  position: relative;
  bottom: 8px;
  right: 320px;
  background-color: #fff;
  border: none;
}

.js-return i {
  font-size: larger;
}

.js-close-modal2 {
  position: relative;
  bottom: 25px;
  left: 325px;
  background-color: #fff;
  border: none;
}

.js-close-modal2 i {
  font-size: larger;
}

.modal2[open] {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* if modal one is open background is already set so a is set to 0 */
  background: rgba(0, 0, 0, 0);
}

.titleModal2 {
  position: relative;
  bottom: 80px;
}

#titleModal2 {
  margin-top: 100px;
  font-family: "Work Sans";
  letter-spacing: 0.1em;
  font-weight: 100;
  color: #000;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 600px;
  /* border: #000 solid 1px; */
}

.addContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e8f1f6;
  border-radius: 5px;
  padding-top: 25px;
  margin-bottom: 35px;
}

/* last element in the div */
.addContainer p {
  padding: 12px 0px;
  font-size: smaller;
  color: #444444;
}

.divIcon {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.fa-image {
  font-size: 5em;
  color: #b9c5cc;
}
.divIcon i {
}

.photoContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cbd6dc;
  border-radius: 24px;
  width: 200px;
  padding-top: 16px;
}

#preview {
  position: absolute;
  width: 150px;
  height: 200px;
  display: none;
  top: 0.9px;
}

#preview[src] {
  display: block;
}

.photoContainer label {
  color: #306685;
}
.addPhoto {
  width: 100%;
}
.formContainer input {
  opacity: 0;
}

.labelTitle {
  display: block;
  font-size: medium;
  color: #3d3d3d;
  margin-bottom: 15px;
}

#title {
  /* because we set 0 for photo container */
  opacity: 1;
  border: none;
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.1));
  width: 100%;
  height: 40px;
  margin-bottom: 30px;
  color: #444444;
  font-family: "Work Sans";
}

.labelCategorie {
  display: block;
  font-size: medium;
  color: #3d3d3d;
  margin-bottom: 15px;
}

#categorie {
  width: 100%;
  height: 40px;
  color: #444444;
  font-family: "Work Sans";
  border: none;
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.1));
}

.p-separation2 {
  margin-top: 50px;
}

.validate {
  display: flex;
  justify-content: center;
}

#validateBtn {
  margin-top: 25px;
  font-family: "Syne";
  color: #fff;
  background-color: #a7a7a7;
  border: none;
  padding: 12px 100px;
  border-radius: 20px;
}
#validateBtn:hover {
  background-color: #1d6154;
}
